<h3>Добавить категорию</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="alias">Алиас</label>
        <input type="text" id="alias" name="alias" value="" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" value="" class="form-control" required/>
    </div>
    <div class="form-group">
        <label for="content">Описание</label>
        <textarea name="content" id="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="parent">Родительская страница</label>
        <select class="form-control" name="parent" id="parent">
            <option value="0">нет родительской</option>
            <?php foreach ($data['categories'] as $cat):?>
            <option value="<?=$cat['term_id']?>"><?=$cat['title']?></option>
            <?php endforeach;?>

        </select>
    </div>
    <div class="form-group">
        <label for="is_published">Опубликовать?</label>
        <input type="checkbox" name="is_published" id="is_published" checked="checked" />
    </div>
    <input type="submit" class="btn btn-success" />
</form>