<h3>Редактировать запись</h3>

<script type="text/javascript" >
    $(document).ready(function() {
        $("#markItUp").markItUp(mySettings);
    });
</script>

<div class="container-fluid">
    <form method="post" class="posts" >
    <div class="col-sm-8">
            <div class="form-group">
                <input type="text" name="title" placeholder="Заголовок" class="form-control" value="<?php echo isset($data['post'][0]['post_title']) ? $data['post'][0]['post_title'] : null?>"/>
            </div>
                <textarea id="markItUp" name = "contetn" cols="80" rows="20">
                    <?php echo isset($data['post'][0]['post_content']) ? $data['post'][0]['post_content'] : null?>
                </textarea>

    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">Рубрики</div>
            <div class="panel-body">
                <?php foreach ($data['items'] as $item): ?>
                <label>
                    <input type="checkbox" name="items[]" value="<?=$item['term_id']?>"  <?php if((!$data['pages']) and ($item['title'] == 'Главная'))
                    {echo 'checked';}
                    else
                    { foreach($data['pages'] as $page){ if($page['meta_value'] == $item['term_id']){ echo 'checked'; breack;}} }?> />
                    <?=$item['title']?>
                </label><br>
                <?php if($item['childs']):?>
                    <?php foreach($item['childs'] as $child):?>
                        <label class="child_item">
                            <input type="checkbox" name="items[]" value="<?=$child['term_id']?>" <?php foreach($data['pages'] as $page){ if($page['meta_value'] == $child['term_id']){ echo 'checked'; breack;}} ?> />
                        <?=$child['title']?>
                        </label><br>
                    <?php endforeach; ?>
                <?php endif;?>
                <?php endforeach;?>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Миниатюра записи:</div>
            <div class="panel-body ">
                <?php $thumb_post= isset($data['post_thumb']) ? $data['post_thumb'] : $data['thumb'][0]['guid'];
                if($thumb_post):?>
                <input type="hidden" name="thumb" value="<?=$thumb_post?>"/>
                <img class="thumb_panel" src="<?=$thumb_post?>" alt=""/>
                <?endif;?>

                <a id="myModal" href="#thumbnail">Задать миниатюру</a><br>
                <?php if($data['thumb']):?>
                <a style="color: red" href="/admin/posts/delete_thumb/<?=$data['post'][0]['id']?>/">Удалить миниатюру</a>
                <?php endif;?>
            </div>
        </div>
        <!--<div style="display:none">-->

        <!--</div>-->
        <div class="form-group">
            <label for="is_published_post">Опубликовать?</label>
            <input type="checkbox" name="is_published" id="is_published_post" />
        </div>
        <input type="submit" value="Сохранить" class="btn btn-success form-control"/>
    </div>
    </form>


    <div id="thumbnail" style="display:none">
        <form method="post" class="thumbnails">
        <table>
            <?php
                $key = 0;
                for ($j = 1; $j<=ceil(count($data['thumbnails'])/3); $j++):?>
            <tr>
                <?php for($i = 1; $i<=3;$i++):
                         if(array_key_exists ($key,$data['thumbnails'])): ?>
                <td>
                    <div>
                        <label>
                            <input class="radio_thumb" type="radio" name="thumb" value="<?=$data['thumbnails'][$key]?>"/>
                            <img src="<?=$data['thumbnails'][$key]?>" alt=""/>
                        </label>
                    </div>

                </td>
                <?php endif;
                         $key++;
                        endfor;?>

            </tr>

            <?php endfor;?>
        </table>
            <input style=" float: right" class="btn btn-success" type="submit" value="Задать миниатюру"/>
        </form>
        <div class="panel load_thunb">
            <div class="panel-heading">Загрузить картинку:</div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="MAX_FILE_SIZE" value="200000">
                    <input name="userFile[]" type="file" multiple > <br>
                    <input type="submit" value="Загрузить">

                </form>
            </div>
        </div>
    </div>




</div>
