<!DOCTYPE html>
<html>
<head>
    <title><?=Config::get('site_name')?></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/scss/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default  navbar-static-top second-nav">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <?php $menu = $data['header']['вспомогательное'];
                    foreach($menu as $nav_menu):?>
                    <li <?php if( App::getRouter()->getController() == $nav_menu['alias'] ) {?>class="active"<?php } ?>><a href="/<?=$nav_menu['alias']?>/"><?=$nav_menu['title']?></a></li>
                    <?php endforeach;?>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
<a href="/">
    <div class="brand col-sm-2">
        <p>help</p>
        <p>car</p>
    </div>
</a>
    <div class="location col-sm-offset-1 col-sm-2">
        <p>Где мы:</p>
        <div>
        <p>г.&nbsp;Киев,</p>
        <p>м.&nbsp;Академгородок,</p>
        <p>ул. В.Степанченко&nbsp;4-Б,</p>
        </div>
    </div>

    <div class="work col-sm-2">
        <p>График работы:</p>
        <div>
        <p><span>с 09:00 до 18:00</span></p>
            <p><span>Сб:</span> с 09.00 до 16.00,</p>
            <p><span>Вс:</span> выходной</p>
        </div>
    </div>

    <div class="contacts col-sm-3">
        <p>Контакты:</p>
        <div>
        <p><span>(044)&nbsp;221-65-54</span><span>(098)&nbsp;956-05-07</span></p>
        <p><span>(094)&nbsp;821-65-54</span><span>(063)&nbsp;610-13-95</span></p>
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-static-top first-nav">
<div class="container">
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
    <?php $menu = $data['header']['Главное'];
    foreach($menu as $nav_menu):?>
        <li <?php if( App::getRouter()->getController() == $nav_menu['alias'] ) {?>class="active"<?php } ?>><a href="/<?=$nav_menu['alias']?>/"><?=$nav_menu['title']?></a></li>
    <?php endforeach;?>
</ul>
</div>
</div>
</nav>
